@using RealStateApp.Core.Application.ViewModels.User
@model string
@{
    ViewData["Title"] = "Acceso Denegado a los Desarolladores";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="card shadow-lg border-0 rounded">
            <div class="card-header bg-danger text-white text-center">
                <h4 class="fw-bold">Acceso Denegado</h4>
            </div>
            <div class="card-body text-center p-5">
                <div class="alert alert-danger" role="alert">
                    <h2 class="fw-bold">
                        No tiene permiso para acceder a esta sección.
                    </h2>
                </div>
                <a asp-controller="User" asp-action="LogOut" class="btn btn-warning btn-lg mt-3">
                    <i class="bi bi-house-door-fill me-2"></i>Cerrar Sesión
                </a>
            </div>
        </div>
    </div>
</div>
