@using RealStateApp.Core.Application.ViewModels.PropertyType;
@model SavePropertyTypeViewModel
@{
    ViewData["Title"] = "Eliminar tipo de propiedad";
}

<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header bg-dark text-light">
                <h4>¿Está seguro que desea eliminar este tipo de propiedad: @Model.Name  y todas las propiedades con este tipo?</h4>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Property" asp-action="Delete">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a asp-controller="Property" asp-action="PropertyTypes" class="btn btn-warning">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
